In [1]:
print('Hello world!')

Hello world!

# Python libs

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os
from cmath import rect, phase
from math import radians, degrees

# Remove warnings
import warnings
warnings.filterwarnings('ignore')

# Data import

In [3]:
# Set unlimited columns
pd.set_option('display.max_columns', None)

# Import CSV files to variables of type pandas.DataFrame
general_data = pd.read_csv('../csv/general_data.csv')
employee_survey_data = pd.read_csv('../csv/employee_survey_data.csv')
manager_survey_data = pd.read_csv('../csv/manager_survey_data.csv')
in_time = pd.read_csv('../csv/in_time.csv')
out_time = pd.read_csv('../csv/out_time.csv')

# Traitement de general_data

In [4]:
general_data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,Healthcare Representative,Married,131160,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,Research Scientist,Single,41890,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,Sales Executive,Married,193280,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,3,Human Resources,Married,83210,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,1,Sales Executive,Single,23420,4.0,Y,12,8,2,9.0,2,6,0,4

On va vérifier la répartition des valeurs dans notre dataset general_data sur certaines colonnes. Si tous les employés ont la même valeur pour une même colonne alors cette colonne est inutile : autant l'éliminer.

Pour cela on utilisera la fonction value_counts : dans l'exemple ci-dessous on voit les différents âges et combien d'employés par valeur d'âge

In [5]:
 general_data["Age"].value_counts()

35    234
34    231
36    207
31    207
29    204
32    183
30    180
38    174
33    174
40    171
37    150
28    144
27    144
42    138
39    126
45    123
41    120
26    117
46     99
44     99
43     96
50     90
24     78
25     78
47     72
49     72
55     66
53     57
51     57
48     57
54     54
52     54
22     48
23     42
58     42
56     42
21     39
20     33
59     30
19     27
18     24
60     15
57     12
Name: Age, dtype: int64

Dans l'extrait du DataFrame plus haut, on repère seulement 3 colonnes qui ont la même valeur pour les 5 employés de l'extrait, on vérifie si cela se généralise dans tout le DataFrame ou si c'était un hasard avec les 5 premiers.

In [6]:
print(general_data["EmployeeCount"].value_counts())
print(general_data["Over18"].value_counts())
print(general_data["StandardHours"].value_counts())

1    4410
Name: EmployeeCount, dtype: int64
Y    4410
Name: Over18, dtype: int64
8    4410
Name: StandardHours, dtype: int64

Les colonnes EmployeeCount, Over18 et StandardHours sont les mêmes pour tous les employés, elles sont donc à éliminer.

In [7]:
general_data.drop(columns=['EmployeeCount', 'Over18','StandardHours'], inplace=True)
general_data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeID,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,Female,1,Healthcare Representative,Married,131160,1.0,11,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,2,Female,1,Research Scientist,Single,41890,0.0,23,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,3,Male,4,Sales Executive,Married,193280,1.0,15,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,4,Male,3,Human Resources,Married,83210,3.0,11,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,5,Male,1,Sales Executive,Single,23420,4.0,12,2,9.0,2,6,0,4

On va transformer certaiens données présentes en  format numérique sous formes de caractères litteraux pour plus de compréhension. Ici Education peut être interessant à changer.

In [8]:
general_data["Education"] = general_data['Education'].replace({ 1 : 'Below College', 2: 'College',3: 'Bachelor',4: 'Master',5 : 'Doctor'})

On remarque que certaines colonnes : "NumCompaniesWorked" et "TotalWorkingYears" sont parfois non renseignées, on laisse les valeurs vides pour le moment mais il faudra peut-être les gérer si le besoin se présente.

# Traitement des questionnaires (employee_survey_data  et manager_survey_data)

In [9]:
employee_survey_data.head()

   EmployeeID  EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance
0           1                      3.0              4.0              2.0
1           2                      3.0              2.0              4.0
2           3                      2.0              2.0              1.0
3           4                      4.0              4.0              3.0
4           5                      4.0              1.0              3.0

 On va de la même façon que le premier fichier modifier nos colonnes numériques importantes en litteraux.

In [10]:
# employee_survey_data['WorkLifeBalance'] = employee_survey_data['WorkLifeBalance'].replace({ 1 : 'Low', 2: 'Medium',3: 'High',4: 'Very High'})
# employee_survey_data['EnvironmentSatisfaction'] = employee_survey_data['EnvironmentSatisfaction'].replace({ 1 : 'Low', 2: 'Medium',3: 'High',4: 'Very High'})
# employee_survey_data['JobSatisfaction'] = employee_survey_data['JobSatisfaction'].replace({ 1 : 'Low', 2: 'Medium',3: 'High',4: 'Very High'})

#employee_survey_data.head()

Pour le fichier des questionnaires managers, on fait pareil pour la note de l'implication et de la qualité de travail au cours de l'année

In [11]:
manager_survey_data.head()

   EmployeeID  JobInvolvement  PerformanceRating
0           1               3                  3
1           2               2                  4
2           3               3                  3
3           4               2                  3
4           5               3                  3

In [12]:
#manager_survey_data['JobInvolvement'] = manager_survey_data['JobInvolvement'].replace({ 1 : 'Low', 2: 'Medium',3: 'High',4: 'Very High'})
#manager_survey_data['PerformanceRating'] = manager_survey_data['PerformanceRating'].replace({ 1 : 'Low', 2: 'Medium',3: 'High',4: 'Very High'})

#manager_survey_data.head()

Dans le questionnaires employés, ceux ci ne sont pas obligés de répondre, il faudra donc traiter les valeurs non renseignées pour notre apprentissage.

# Traitement des données sur les horaires de travail.

On va traiter deux fichiers : les horaires d'éntrées et de sorties pour chaque employé et pour chaque jour de l'anée.

In [13]:
# Reset in_time / out_time :
#in_time = pd.read_csv('../csv/in_time.csv')
#out_time = pd.read_csv('../csv/out_time.csv')

in_time.head()

,Unnamed: 0,2015-01-01,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-14,2015-01-15,2015-01-16,2015-01-19,2015-01-20,2015-01-21,2015-01-22,2015-01-23,2015-01-26,2015-01-27,2015-01-28,2015-01-29,2015-01-30,2015-02-02,2015-02-03,2015-02-04,2015-02-05,2015-02-06,2015-02-09,2015-02-10,2015-02-11,2015-02-12,2015-02-13,2015-02-16,2015-02-17,2015-02-18,2015-02-19,2015-02-20,2015-02-23,2015-02-24,2015-02-25,2015-02-26,2015-02-27,2015-03-02,2015-03-03,2015-03-04,2015-03-05,2015-03-06,2015-03-09,2015-03-10,2015-03-11,2015-03-12,2015-03-13,2015-03-16,2015-03-17,2015-03-18,2015-03-19,2015-03-20,2015-03-23,2015-03-24,2015-03-25,2015-03-26,2015-03-27,2015-03-30,2015-03-31,2015-04-01,2015-04-02,2015-04-03,2015-04-06,2015-04-07,2015-04-08,2015-04-09,2015-04-10,2015-04-13,2015-04-14,2015-04-15,2015-04-16,2015-04-17,2015-04-20,2015-04-21,2015-04-22,2015-04-23,2015-04-24,2015-04-27,2015-04-28,2015-04-29,2015-04-30,2015-05-01,2015-05-04,2015-05-05,2015-05-06,2015-05-07,2015-05-08,2015-05-11,2015-05-12,2015-05-13,2015-05-14,2015-05-15,2015-05-18,2015-05-19,2015-05-20,2015-05-21,2015-05-22,2015-05-25,2015-05-26,2015-05-27,2015-05-28,2015-05-29,2015-06-01,2015-06-02,2015-06-03,2015-06-04,2015-06-05,2015-06-08,2015-06-09,2015-06-10,2015-06-11,2015-06-12,2015-06-15,2015-06-16,2015-06-17,2015-06-18,2015-06-19,2015-06-22,2015-06-23,2015-06-24,2015-06-25,2015-06-26,2015-06-29,2015-06-30,2015-07-01,2015-07-02,2015-07-03,2015-07-06,2015-07-07,2015-07-08,2015-07-09,2015-07-10,2015-07-13,2015-07-14,2015-07-15,2015-07-16,2015-07-17,2015-07-20,2015-07-21,2015-07-22,2015-07-23,2015-07-24,2015-07-27,2015-07-28,2015-07-29,2015-07-30,2015-07-31,2015-08-03,2015-08-04,2015-08-05,2015-08-06,2015-08-07,2015-08-10,2015-08-11,2015-08-12,2015-08-13,2015-08-14,2015-08-17,2015-08-18,2015-08-19,2015-08-20,2015-08-21,2015-08-24,2015-08-25,2015-08-26,2015-08-27,2015-08-28,2015-08-31,2015-09-01,2015-09-02,2015-09-03,2015-09-04,2015-09-07,2015-09-08,2015-09-09,2015-09-10,2015-09-11,2015-09-14,2015-09-15,2015-09-16,2015-09-17,2015-09-18,2015-09-21,2015-09-22,2015-09-23,2015-09-24,2015-09-25,2015-09-28,2015-09-29,2015-09-30,2015-10-01,2015-10-02,2015-10-05,2015-10-06,2015-10-07,2015-10-08,2015-10-09,2015-10-12,2015-10-13,2015-10-14,2015-10-15,2015-10-16,2015-10-19,2015-10-20,2015-10-21,2015-10-22,2015-10-23,2015-10-26,2015-10-27,2015-10-28,2015-10-29,2015-10-30,2015-11-02,2015-11-03,2015-11-04,2015-11-05,2015-11-06,2015-11-09,2015-11-10,2015-11-11,2015-11-12,2015-11-13,2015-11-16,2015-11-17,2015-11-18,2015-11-19,2015-11-20,2015-11-23,2015-11-24,2015-11-25,2015-11-26,2015-11-27,2015-11-30,2015-12-01,2015-12-02,2015-12-03,2015-12-04,2015-12-07,2015-12-08,2015-12-09,2015-12-10,2015-12-11,2015-12-14,2015-12-15,2015-12-16,2015-12-17,2015-12-18,2015-12-21,2015-12-22,2015-12-23,2015-12-24,2015-12-25,2015-12-28,2015-12-29,2015-12-30,2015-12-31
0,1,NaN,2015-01-02 09:43:45,2015-01-05 10:08:48,2015-01-06 09:54:26,2015-01-07 09:34:31,2015-01-08 09:51:09,2015-01-09 10:09:25,2015-01-12 09:42:53,2015-01-13 10:13:06,NaN,2015-01-15 10:01:24,2015-01-16 10:19:08,NaN,2015-01-20 09:50:34,2015-01-21 09:49:42,2015-01-22 09:47:45,2015-01-23 09:23:44,NaN,2015-01-27 09:50:37,2015-01-28 09:56:13,2015-01-29 09:53:47,2015-01-30 10:09:26,2015-02-02 09:38:43,2015-02-03 10:23:38,2015-02-04 09:48:37,2015-02-05 09:52:36,2015-02-06 09:53:23,2015-02-09 10:01:45,2015-02-10 10:14:18,2015-02-11 10:18:44,2015-02-12 10:10:35,2015-02-13 09:13:07,2015-02-16 10:14:02,2015-02-17 10:03:08,2015-02-18 10:23:06,NaN,2015-02-20 09:54:56,2015-02-23 09:46:59,2015-02-24 10:11:18,2015-02-25 09:52:36,2015-02-26 09:56:33,2015-02-27 09:58:46,2015-03-02 10:19:43,2015-03-03 10:08:37,2015-03-04 10:05:38,NaN,2015-03-06 09:55:53,2015-03-09 10:28:34,2015-03-10 09:47:30,2015-03-11 09:48:59,2015-03-12 10:10:51,2015-03-13 10:07:18,NaN,2015-03-17 10:05:22,2015-03-18 10:28:21,2015-03-19 10:01:52,2015-03-20 10:37:49,2015-03-23 10:11:19,2015-03-24 10:33:19,2015-03-25 09:41:35,NaN,2015-03-27 09:47:30,2015-03-30 10:11:44,2015-03-31 10:08:13,2015-04-01 10:12:37,2015-04-02 09:45:27,2015-04-03 10:00:30,2015-04-06 09:40:19,2015-04-07 10:16:43,2015-04-08 10:04:34,2015-04-09 09:21:27,2015-04-10 09:46:25,2015-04-13 09:39:30,2015-04-14 09:58:48,2015-04-15 09:55:56,2015-04-16 09:46:07,2015-04-17 09:54:13,2015-04-20 10:03:25,2015-04-21 09:50:41,2015-04-22 09:56:16,2015-04-23 10:12:42,2015-04-24 10:05:40,2015-04-27 10:12:01,2015-04-28 09:57:24,2015-04-29 09:46:15,2015-04-30 09:48:30,NaN,2015-05-04 09:40:52,2015-05-05 09:54:59,2015-05-06 09:49:06,2015-05-07 10:06:47,2015-05-08 09:55:02,NaN,2015-05-12 09:50:17,2015-05-13 10:24:03,2015-05-14 09:50:43,2015-05-15 09:55:32,NaN,2015-05-19 09:49:06,2015-05-20 10:00:39,2015-05-21 09:53:15,2015-05-22 10:19:44,2015-05-25 10:15:25,2015-05-26 10:17:01,2015-05-27 09:41:25,2015-05-28 09:57:00,NaN,NaN,2015-06-02 10:20:49,2015-06-03 09:47:19,2015-06-04 10:23:40,NaN,2015-06-08 10:17:56,NaN,2015-06-10 09:54:33,2015-06-11 09:47:09,2015-06-12 10:13:55,2015-06-15 09:50:19,2015-06-16 09:59:04,2015-06-17 09:46:15,2015-06-18 10:03:15,2015-06-19 10:06:21,2015-06-22 09:48:40,2015-06-23 09:56:55,2015-06-24 09:59:40,2015-06-25 09:52:01,2015-06-26 10:07:58,2015-06-29 10:01:19,2015-06-30 10:27:40,2015-07-01 09:39:02,2015-07-02 10:07:33,2015-07-03 09:59:57,2015-07-06 09:37:06,2015-07-07 10:08:17,2015-07-08 09:56:30,2015-07-09 09:21:57,2015-07-10 09:43:31,2015-07-13 10:07:21,2015-07-14 10:06:39,2015-07-15 09:54:34,2015-07-16 10:22:47,NaN,2015-07-20 10:25:50,2015-07-21 09:48:05,2015-07-22 09:52:29,2015-07-23 10:04:42,2015-07-24 09:34:15,2015-07-27 09:56:24,2015-07-28 10:19:57,2015-07-29 09:48:10,2015-07-30 09:52:24,2015-07-31 10:11:14,2015-08-03 10:03:33,2015-08-04 09:59:34,2015-08-05 09:50:51,2015-08-06 09:56:52,2015-08-07 09:51:30,2015-08-10 10:12:23,2015-08-11 10:08:29,2015-08-12 09:39:08,2015-08-13 09:47:09,2015-08-14 10:00:21,2015-08-17 09:24:23,2015-08-18 10:25:27,2015-08-19 10:14:41,2015-08-20 09:57:56,2015-08-21 10:07:11,2015-08-24 10:07:49,2015-08-25 09:47:59,2015-08-26 09:53:49,2015-08-27 10:16:21,2015-08-28 09:53:47,2015-08-31 10:08:07,NaN,2015-09-02 10:37:59,2015-09-03 09:41:16,2015-09-04 10:11:00,2015-09-07 10:17:58,2015-09-08 10:31:57,2015-09-09 10:28:33,2015-09-10 09:54:28,2015-09-11 10:02:49,2015-09-14 10:15:40,2015-09-15 10:26:09,2015-09-16 10:11:03,NaN,2015-09-18 10:16:06,2015-09-21 09:48:01,2015-09-22 10:34:52,2015-09-23 10:03:15,2015-09-24 10:00:12,2015-09-25 10:00:00,2015-09-28 09:28:45,2015-09-29 09:51:58,2015-09-30 09:52:41,2015-10-01 10:05:28,NaN,2015-10-05 10:02:00,2015-10-06 09:48:24,2015-10-07 09:32:05,2015-10-08 09:39:01,2015-10-09 09:33:40,2015-10-12 10:14:36,NaN,2015-10-14 10:19:43,2015-10-15 10:19:51,2015-10-16 09:50:41,2015-10-19 09:55:08,2015-10-20 10:00:37,NaN,NaN,2015-10-23 10:03:33,2015-10-26 09:51:07,2015-10-27 09:25:10,2015-10-28 09:50:30,2015-10-29 09:50:22,2015-10-30 09:51:07,2015-11-02 10:01:58,2015-11-03 10:28:53,2015-11-04 09:47:00,2015-11-05 10:24:57,2015-11-06 10:15:27,NaN,NaN,NaN,2015-11-12 10:02:34,2015-11-13 09:29:49,2015-11-16 10:16:02,2015-11-17 09:57:23,2015-11-18 10:13:24,2015-11-19 09:46:48,2015-11-20 10:09:35,2015-11-23 09:54:17,2015-11-24 10:02:07,2015-11-25 10:01:51,2015-11-26 10:18:45,2015-11-27 10:24:49,2015-11-30 10:04:24,2015-12-01 09:31:27,2015-12-02 09:57:52,2015-12-03 10:05:55,2015-12-04 09:55:09,2015-12-07 09:28:15,2015-12-08 09:54:56,2015-12-09 09:51:52,2015-12-10 09:40:25,2015-12-11 09:46:49,2015-12-14 10:03:33,NaN,2015-12-16 10:21:19,NaN,NaN,2015-12-21 09:55:29,2015-12-22 10:04:06,2015-12-23 10:14:27,2015-12-24 10:11:35,NaN,2015-12-28 10:13:41,2015-12-29 10:03:36,2015-12-30 09:54:12,2015-12-31 10:12:44
1,2,NaN,2015-01-02 10:15:44,2015-01-05 10:21:05,NaN,2015-01-07 09:45:17,2015-01-08 10:09:04,2015-01-09 09:43:26,2015-01-12 10:00:07,2015-01-13 10:43:29,NaN,2015-01-15 09:37:57,2015-01-16 09:57:18,2015-01-19 10:23:43,2015-01-20 09:29:03,2015-01-21 09:46:45,2015-01-22 10:03:51,2015-01-23 09:20:06,NaN,2015-01-27 10:07:48,2015-01-28 10:08:25,2015-01-29 09:52:04,2015-01-30 09:49:49,2015-02-02 10:07:26,2015-02-03 09:55:45,2015-02-04 10:25:41,2015-02-05 10:05:11,2015-02-06 09:12:39,NaN,2015-02-10 10:10:13,2015-02-11 09:40:20,2015-02-12 10:10:09,2015-02-13 09:35:25,2015-02-16 10:04:12,2015-02-17 09:45:05,2015-02-18 09:54:42,2015-02-19 10:11:49,2015-02-20 10:06:18,2015-02-23 09:41:58,2015-02-24 09:44:22,2015-02-25 09:58:39,2015-02-26 09:59:07,2015-02-27 10:31:41,2015-03-02 09:55:43,2015-03-03 10:31:20,2015-03-04 09:56:59,NaN,2015-03-06 10:01:10,2015-03-09 10:02:33,2015-03-10 09:32:40,2015-03-11 09:57:02,2015-03-12 09:59:32,2015-03-13 09:59:14,2015-03-16 09:56:19,2015-03-17 09:36:08,2015-03-18 10:00:32,2015-03-19 09:46:51,2015-03-20 10:06:06,2015-03-23 10:02:02,NaN,2015-03-25 10:03:04,2015-03-26 09:52:38,2015-03-27 10:02:55,2015-03-30 10:04:24,2015-03-31 10:30:25,2015-04-01 09:46:24,2015-04-02 09:53:55,2015-04-03 10:30:21,2015-04-06 10:18:14,2015-04-07 10:22:22,2015-04-08 09:46:42,2015-04-09 10:02:22,2015-04-10 09:47:56,2015-04-13 09:33:46,2015-04-14 09:50:19,2015-04-15 10:06:41,2015-04-16 10:07:24,2015-04-17 09:40:35,2015-04-20 10:04:05,2015-04-21 10:21:53,2015-04-22 09:40:33,2015-04-23 10:06:54,2015-04-24 10:10:19,2015-04-27 09:33:44,2015-04-28 09:52:51,NaN,2015-04-30 10:14:03,NaN,2015-05-04 09:53:54,2015-05-05 10:25:20,2015-05-06 09:46:04,2015-05-07 09:49:37,2015-05-08 09:56:40,2015-05-11 09:58:30,2015-05-12 09:44:55,2015-05-13 10:06:35,NaN,2015-05-15 09:43:03,NaN,2015-05-19 09:48:05,2015-05-20 10:18:00,2015-05-21 09:42:47,2015-05-22 10:37:50,2015-05-25 09:46:03,2015-05-26 09:42:16,2015-05-27 09:53:20,2015-05-28 09:54:58,2015-05-29 09:52:45,2015-06-01 09:54:45,2015-06-02 09:57:56,2015-06-03 10:10:48,2015-06-04 09:31:48,2015-06-05 10:06:28,2015-06-08 09:45:19,2015-06-09 09:59:08,2015-06-10 09:39:05,2015-06-11 09:55:03,NaN,2015-06-15 09:45:02,2015-06-16 10:15:23,2015-06-17 09:52:23,2015-06-18 09:55:27,2015-06-19 10:13:33,2015-06-22 09:48:24,2015-06-23 09:59:12,2015-06-24 10:27:17,2015-06-25 10:12:33,2015-06-26 09:55:00,2015-06-29 10:02:27,2015-06-30 10:13:31,2015-07-01 09:45:31,2015-07-02 10:04:21,2015-07-03 10:00:01,2015-07-06 10:10:37,2015-07-07 10:29:29,2015-07-08 09:38:19,2015-07-09 10:21:59,2015-07-10 10:30:44,NaN,2015-07-14 10:35:52,2015-07-15 09:47:06,2015-07-16 09:59:13,NaN,2015-07-20 10:18:08,2015-07-21 10:23:11,2015-07-22 09:32:15,2015-07-23 09:40:12,2015-07-24 10:15:22,NaN,2015-07-28 10:16:14,2015-07-29 09:58:33,2015-07-30 09:57:10,2015-07-31 10:15:38,2015-08-03 09:58:28,2015-08-04 10:17:10,2015-08-05 09:38:46,2015-08-06 10:16:03,2015-08-07 09:52:22,2015-08-10 09:37:38,2015-08-11 09:54:35,2015-08-12 09:27:52,2015-08-13 09:50:57,2015-08-14 09:38:27,2015-08-17 09:52:16,2015-08-18 09:34:06,2015-08-19 09:43:02,2015-08-20 10:16:38,2015-08-21 10:07:18,2015-08-24 09:36:46,2015-08-25 09:42:22,2015-08-26 10:15:22,2015-08-27 10:11:04,2015-08-28 09:50:51,2015-08-31 10:23:10,2015-09-01 10:23:47,2015-09-02 09:57:01,2015-09-03 09:56:07,2015-09-04 10:33:03,2015-09-07 09:58:33,NaN,2015-09-09 10:17:43,2015-09-10 10:28:40,2015-09-11 09:58:20,2015-09-14 09:43:25,2015-09-15 09:25:53,2015-09-16 09:26:29,NaN,2015-09-18 10:27:07,2015-09-21 10:03:31,2015-09-22 09:35:23,2015-09-23 10:12:56,2015-09-24 10:02:52,2015-09-25 09:37:12,2015-09-28 10:11:06,2015-09-29 10:00:31,2015-09-30 10:22:56,2015-10-01 10:08:29,NaN,2015-10-05 10:02:26,2015-10-06 10:08:57,2015-10-07 10:10:19,2015-10-08 10:04:03,2015-10-09 09:40:41,2015-10-12 10:11:30,2015-10-13 10:14:39,2015-10-14 10:10:48,NaN,2015-10-16 10:20:19,2015-10-19 10:04:13,2015-10-20 09:39:10,2015-10-21 09:47:15,2015-10-22 09:56:54,2015-10-23 09:53:38,2015-10-26 09:49:43,2015-10-27 10:29:20,2015-10-28 09:47:39,2015-10-29 09:52:02,2015-10-30 09:47:37,2015-11-02 10:04:45,2015-11-03 09:36:03,2015-11-04 09:58:34,2015-11-05 09:50:08,2015-11-06 10:02:38,NaN,NaN,NaN,2015-11-12 09:54:47,2015-11-13 09:26:10,2015-11-16 10:22:00,2015-11-17 09:26:04,2015-11-18 10:10:39,NaN,2015-11-20 10:01:09,2015-11-23 09:51:11,2015-11-24 09:19:04,2015-11-25 09:43:44,2015-11-26 10:34:30,2015-11-27 10:15:10,2015-11-30 09:46:46,2015-12-01 09:56:22,2015-12-02 09:55:43,2015-12-03 10:05:37,2015-12-04 10:02:05,2015-12-07 09:36:05,2015-12-08 10:01:21,2015-12-09 09:49:23,2015-12-10 10:06:05,2015-12-11 10:15:18,2015-12-14 10:00:01,2015-12-15 10:30:18,2015-12-16 10:01:18,2015-12-17 09:15:08,2015-12-18 10:37:17,2015-12-21 09:49:02,2015-12-22 10:33:51,2015-12-23 10:12:10,NaN,NaN,2015-12-28 09:31:45,2015-12-29 09:55:49,2015-12-30 10:32:25,2015-12-31 09:27:20
2,3,NaN,2015-01-02 10:17:41,2015-01-05 09:50:50,2015-01-06 10:14:13,2015-01-07 09:47:27,2015-01-08 10:03:40,2015-01-09 10:05:49,2015-01-12 10:03:47,2015-01-13 10:21:26,NaN,2015-01-15 09:55:11,2015-01-16 10:05:36,2015-01-19 09:47:53,2015-01-20 09:57:09,2015-01-21 10:29:40,2015-01-22 09:59:11,2015-01-23 10:16:34,NaN,2015-01-27 10:07:30,2015-01-28 10:05:43,2015-01-29 10:06:48,2015-01-30 10:14:36,2015-02-02 09:54:45,2015-02-03 09:27:11,2015-02-04 10:04:03,2015-02-05 10:08:11,2015-02-06 10:23:51,2015-02-09 10:08:43,2015-02-10 10:26:18,2015-02-11 10:02:13,2015-02-12 09:55:10,2015-02-13 10:32:34,2015-02-16 10:18:43,2015-02-17 10:04:54,2015-02-18 10:16:19,2015-02-19 09:47:19,2015-02-20 10:20:51,2015-02-23 10:14:02,2015-02-24 10:23:28,2015-02-25 09:59:06,2015-02-26 10:01:22,2015-02-27 09:57:26,2015-03-02 10:02:38,2015-03-03 10:07:45,2015-03-04 10:15:26,NaN,2015-03-06 09:48:49,2015-03-09 10:17:45,2015-03-10 09:46:10,2015-03-11 10:26:39,2015-03-12 09:56:28,2015-03-13 09:36:23,2015-03-16 10:07:30,2015-03-17 10:00:43,2015-03-18 10:20:10,2015-03-19 09:54:40,NaN,2015-03-23 10:04:28,2015-03-24 10:18:38,2015-03-25 09:43:22,2015-03-26 09:37:02,NaN,2015-03-30 09:54:55,2015-03-31 10:00:57,2015-04-01 09:52:42,2015-04-02 10:24:02,2015-04-03 10:01:42,2015-04-06 09:33:15,2015-04-07 10:13:13,2015-04-08 10:38:41,2015-04-09 10:17:34,2015-04-10 10:28:08,2015-04-13 10:14:55,2015-04-14 09:29:50,2015-04-15 10:06:52,2015-04-16 09:46:13,2015-04-17 10:16:08,2015-04-20 09:36:16,2015-04-21 10:07:10,2015-04-22 09:56:42,NaN,2015-04-24 10:10:15,2015-04-27 09:29:29,2015-04-28 10:01:45,2015-04-29 09:54:28,2015-04-30 09:40:30,NaN,2015-05-04 09:55:15,2015-05-05 09:53:50,2015-05-06 10:20:45,2015-05-07 09:49:38,2015-05-08 10:21:01,2015-05-11 09:47:03,2015-05-12 09:39:48,2015-05-13 09:50:23,2015-05-14 09:45:22,2015-05-15 09:48:59,2015-05-18 10:03:24,2015-05-19 09:40:26,2015-05-20 09:40:20,2015-05-21 09:37:39,2015-05-22 10:04:08,2015-05-25 10:06:54,2015-05-26 10:28:05,2015-05-27 10:14:07,2015-05-28 10:13:25,2015-05-29 10:08:23,2015-06-01 09:57:32,2015-06-02 09:58:49,2015-06-03 10:03:00,2015-06-04 09:32:13,2015-06-05 09:43:51,2015-06-08 09:31:20,2015-06-09 09:49:58,2015-06-10 10:14:49,2015-06-11 10:07:21,2015-06-12 10:10:53,2015-06-15 09:52:17,2015-06-16 09:33:01,2015-06-17 09:50:53,2015-06-18 10:01:04,2015-06-19 09:47:22,2015-06-22 09:52:10,2015-06-23 09:44:50,NaN,2015-06-25 10:10:41,2015-06-26 10:02:07,2015-06-29 09:33:13,2015-06-30 10:13:47,2015-07-01 10:07:56,2015-07-02 10:26:28,2015-07-03 09:40:28,2015-07-06 10:02:42,2015-07-07 10:50:49,2015-07-08 09:56:24,2015-07-09 10:08:14,2015-07-10 09:58:44,2015-07-13 09:59:18,2015-07-14 09:54:55,2015-07-15 09:42:13,2015-07-16 10:00:16,NaN,2015-07-20 10:12:37,2015-07-21 09:39:36,2015-07-22 09:50:19,2015-07-23 10:27:02,2015-07-24 09:58:29,2015-07-27 10:11:51,2015-07-28 09:44:58,2015-07-29 10:29:58,2015-07-30 10:27:08,2015-07-31 09:32:14,2015-08-03 09:49:21,2015-08-04 09:37:19,NaN,2015-08-06 10:00:11,2015-08-07 09:36:58,2015-08-10 09:51:11,2015-08-11 09:49:26,2015-08-12 10:26:18,2015-08-13 10:12:57,2015-08-14 09:51:22,2015-08-17 09:59:35,2015-08-18 09:57:40,2015-08-19 10:06:09,2015-08-20 10:09:06,2015-08-21 10:28:51,2015-08-24 10:04:52,2015-08-25 10:09:53,2015-08-26 10:26:55,2015-08-27 09:08:23,2015-08-28 10:07:20,2015-08-31 09:44:35,2015-09-01 09:51:52,2015-09-02 09:52:28,2015-09-03 10:05:51,2015-09-04 10:11:53,2015-09-07 09:28:00,2015-09-08 09:38:21,2015-09-09 09:45:09,2015-09-10 09:49:52,2015-09-11 09:57:16,2015-09-14 10:27:59,2015-09-15 10:11:20,2015-09-16 09:55:26,NaN,2015-09-18 09:54:29,2015-09-21 09:29:30,2015-09-22 09:35:39,2015-09-23 09:56:54,2015-09-24 10:31:35,2015-09-25 09:40:55,2015-09-28 09:55:28,2015-09-29 10:25:49,2015-09-30 10:11:02,2015-10-01 09:58:27,NaN,2015-10-05 10:10:21,2015-10-06 09:56:07,2015-10-07 10:09:43,2015-10-08 09:46:36,2015-10-09 10:00:44,2015-10-12 10:14:10,2015-10-13 10:22:14,2015-10-14 10:20:42,2015-10-15 10:12:05,2015-10-16 09:41:55,2015-10-19 10:03:40,2015-10-20 10:02:12,2015-10-21 10:52:27,2015-10-22 10:10:44,2015-10-23 10:08:37,2015-10-26 10:29:26,2015-10-27 09:48:57,2015-10-28 09:54:52,2015-10-29 09:47:27,2015-10-30 09:51:47,2015-11-02 09:54:18,2015-11-03 09:52:40,2015-11-04 10:19:14,2015-11-05 10:23:27,2015-11-06 10:06:29,NaN,NaN,NaN,2015-11-12 10:14:47,2015-11-13 09:43:37,2015-11-16 10:02:56,2015-11-17 09:51:38,2015-11-18 10:12:13,2015-11-19 10:08:46,2015-11-20 10:06:39,2015-11-23 10:02:01,2015-11-24 09:53:52,2015-11-25 10:16:19,2015-11-26 10:07:02,NaN,2015-11-30 10:01:33,2015-12-01 10:02:52,2015-12-02 10:10:34,2015-12-03 10:18:25,2015-12-04 10:06:40,2015-12-07 10:21:09,2015-12-08 09:59:19,2015-12-09 10:17:28,NaN,2015-12-11 09:49:55,2015-12-14 09:42:31,2015-12-15 09:54:48,2015-12-16 09:48:34,2015-12-17 09:53:17,2015-12-18 10:15:14,2015-12-21 10:10:28,2015-12-22 09:44:44,2015-12-23 10:15:54,2015-12-24 10:07:26,NaN,2015-12-28 09:42:05,2015-12-29 09:43:36,2015-12-30 09:34:05,2015-12-31 10:28:39

On va chercher les colonnes ou tous les employées n'ont pas été présents (NaN) : on supprimera celles ci.

In [14]:
holidays = in_time.columns[in_time.nunique() <= 1]

print(holidays)

Index(['2015-01-01', '2015-01-14', '2015-01-26', '2015-03-05', '2015-05-01',
       '2015-07-17', '2015-09-17', '2015-10-02', '2015-11-09', '2015-11-10',
       '2015-11-11', '2015-12-25'],
      dtype='object')

Ce dataframe répresente toute les dates pour lesquelles les employées n'étaient pas présents, on va les supprimer.

In [15]:
in_time = in_time.drop(columns = holidays)

in_time.head()

,Unnamed: 0,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-15,2015-01-16,2015-01-19,2015-01-20,2015-01-21,2015-01-22,2015-01-23,2015-01-27,2015-01-28,2015-01-29,2015-01-30,2015-02-02,2015-02-03,2015-02-04,2015-02-05,2015-02-06,2015-02-09,2015-02-10,2015-02-11,2015-02-12,2015-02-13,2015-02-16,2015-02-17,2015-02-18,2015-02-19,2015-02-20,2015-02-23,2015-02-24,2015-02-25,2015-02-26,2015-02-27,2015-03-02,2015-03-03,2015-03-04,2015-03-06,2015-03-09,2015-03-10,2015-03-11,2015-03-12,2015-03-13,2015-03-16,2015-03-17,2015-03-18,2015-03-19,2015-03-20,2015-03-23,2015-03-24,2015-03-25,2015-03-26,2015-03-27,2015-03-30,2015-03-31,2015-04-01,2015-04-02,2015-04-03,2015-04-06,2015-04-07,2015-04-08,2015-04-09,2015-04-10,2015-04-13,2015-04-14,2015-04-15,2015-04-16,2015-04-17,2015-04-20,2015-04-21,2015-04-22,2015-04-23,2015-04-24,2015-04-27,2015-04-28,2015-04-29,2015-04-30,2015-05-04,2015-05-05,2015-05-06,2015-05-07,2015-05-08,2015-05-11,2015-05-12,2015-05-13,2015-05-14,2015-05-15,2015-05-18,2015-05-19,2015-05-20,2015-05-21,2015-05-22,2015-05-25,2015-05-26,2015-05-27,2015-05-28,2015-05-29,2015-06-01,2015-06-02,2015-06-03,2015-06-04,2015-06-05,2015-06-08,2015-06-09,2015-06-10,2015-06-11,2015-06-12,2015-06-15,2015-06-16,2015-06-17,2015-06-18,2015-06-19,2015-06-22,2015-06-23,2015-06-24,2015-06-25,2015-06-26,2015-06-29,2015-06-30,2015-07-01,2015-07-02,2015-07-03,2015-07-06,2015-07-07,2015-07-08,2015-07-09,2015-07-10,2015-07-13,2015-07-14,2015-07-15,2015-07-16,2015-07-20,2015-07-21,2015-07-22,2015-07-23,2015-07-24,2015-07-27,2015-07-28,2015-07-29,2015-07-30,2015-07-31,2015-08-03,2015-08-04,2015-08-05,2015-08-06,2015-08-07,2015-08-10,2015-08-11,2015-08-12,2015-08-13,2015-08-14,2015-08-17,2015-08-18,2015-08-19,2015-08-20,2015-08-21,2015-08-24,2015-08-25,2015-08-26,2015-08-27,2015-08-28,2015-08-31,2015-09-01,2015-09-02,2015-09-03,2015-09-04,2015-09-07,2015-09-08,2015-09-09,2015-09-10,2015-09-11,2015-09-14,2015-09-15,2015-09-16,2015-09-18,2015-09-21,2015-09-22,2015-09-23,2015-09-24,2015-09-25,2015-09-28,2015-09-29,2015-09-30,2015-10-01,2015-10-05,2015-10-06,2015-10-07,2015-10-08,2015-10-09,2015-10-12,2015-10-13,2015-10-14,2015-10-15,2015-10-16,2015-10-19,2015-10-20,2015-10-21,2015-10-22,2015-10-23,2015-10-26,2015-10-27,2015-10-28,2015-10-29,2015-10-30,2015-11-02,2015-11-03,2015-11-04,2015-11-05,2015-11-06,2015-11-12,2015-11-13,2015-11-16,2015-11-17,2015-11-18,2015-11-19,2015-11-20,2015-11-23,2015-11-24,2015-11-25,2015-11-26,2015-11-27,2015-11-30,2015-12-01,2015-12-02,2015-12-03,2015-12-04,2015-12-07,2015-12-08,2015-12-09,2015-12-10,2015-12-11,2015-12-14,2015-12-15,2015-12-16,2015-12-17,2015-12-18,2015-12-21,2015-12-22,2015-12-23,2015-12-24,2015-12-28,2015-12-29,2015-12-30,2015-12-31
0,1,2015-01-02 09:43:45,2015-01-05 10:08:48,2015-01-06 09:54:26,2015-01-07 09:34:31,2015-01-08 09:51:09,2015-01-09 10:09:25,2015-01-12 09:42:53,2015-01-13 10:13:06,2015-01-15 10:01:24,2015-01-16 10:19:08,NaN,2015-01-20 09:50:34,2015-01-21 09:49:42,2015-01-22 09:47:45,2015-01-23 09:23:44,2015-01-27 09:50:37,2015-01-28 09:56:13,2015-01-29 09:53:47,2015-01-30 10:09:26,2015-02-02 09:38:43,2015-02-03 10:23:38,2015-02-04 09:48:37,2015-02-05 09:52:36,2015-02-06 09:53:23,2015-02-09 10:01:45,2015-02-10 10:14:18,2015-02-11 10:18:44,2015-02-12 10:10:35,2015-02-13 09:13:07,2015-02-16 10:14:02,2015-02-17 10:03:08,2015-02-18 10:23:06,NaN,2015-02-20 09:54:56,2015-02-23 09:46:59,2015-02-24 10:11:18,2015-02-25 09:52:36,2015-02-26 09:56:33,2015-02-27 09:58:46,2015-03-02 10:19:43,2015-03-03 10:08:37,2015-03-04 10:05:38,2015-03-06 09:55:53,2015-03-09 10:28:34,2015-03-10 09:47:30,2015-03-11 09:48:59,2015-03-12 10:10:51,2015-03-13 10:07:18,NaN,2015-03-17 10:05:22,2015-03-18 10:28:21,2015-03-19 10:01:52,2015-03-20 10:37:49,2015-03-23 10:11:19,2015-03-24 10:33:19,2015-03-25 09:41:35,NaN,2015-03-27 09:47:30,2015-03-30 10:11:44,2015-03-31 10:08:13,2015-04-01 10:12:37,2015-04-02 09:45:27,2015-04-03 10:00:30,2015-04-06 09:40:19,2015-04-07 10:16:43,2015-04-08 10:04:34,2015-04-09 09:21:27,2015-04-10 09:46:25,2015-04-13 09:39:30,2015-04-14 09:58:48,2015-04-15 09:55:56,2015-04-16 09:46:07,2015-04-17 09:54:13,2015-04-20 10:03:25,2015-04-21 09:50:41,2015-04-22 09:56:16,2015-04-23 10:12:42,2015-04-24 10:05:40,2015-04-27 10:12:01,2015-04-28 09:57:24,2015-04-29 09:46:15,2015-04-30 09:48:30,2015-05-04 09:40:52,2015-05-05 09:54:59,2015-05-06 09:49:06,2015-05-07 10:06:47,2015-05-08 09:55:02,NaN,2015-05-12 09:50:17,2015-05-13 10:24:03,2015-05-14 09:50:43,2015-05-15 09:55:32,NaN,2015-05-19 09:49:06,2015-05-20 10:00:39,2015-05-21 09:53:15,2015-05-22 10:19:44,2015-05-25 10:15:25,2015-05-26 10:17:01,2015-05-27 09:41:25,2015-05-28 09:57:00,NaN,NaN,2015-06-02 10:20:49,2015-06-03 09:47:19,2015-06-04 10:23:40,NaN,2015-06-08 10:17:56,NaN,2015-06-10 09:54:33,2015-06-11 09:47:09,2015-06-12 10:13:55,2015-06-15 09:50:19,2015-06-16 09:59:04,2015-06-17 09:46:15,2015-06-18 10:03:15,2015-06-19 10:06:21,2015-06-22 09:48:40,2015-06-23 09:56:55,2015-06-24 09:59:40,2015-06-25 09:52:01,2015-06-26 10:07:58,2015-06-29 10:01:19,2015-06-30 10:27:40,2015-07-01 09:39:02,2015-07-02 10:07:33,2015-07-03 09:59:57,2015-07-06 09:37:06,2015-07-07 10:08:17,2015-07-08 09:56:30,2015-07-09 09:21:57,2015-07-10 09:43:31,2015-07-13 10:07:21,2015-07-14 10:06:39,2015-07-15 09:54:34,2015-07-16 10:22:47,2015-07-20 10:25:50,2015-07-21 09:48:05,2015-07-22 09:52:29,2015-07-23 10:04:42,2015-07-24 09:34:15,2015-07-27 09:56:24,2015-07-28 10:19:57,2015-07-29 09:48:10,2015-07-30 09:52:24,2015-07-31 10:11:14,2015-08-03 10:03:33,2015-08-04 09:59:34,2015-08-05 09:50:51,2015-08-06 09:56:52,2015-08-07 09:51:30,2015-08-10 10:12:23,2015-08-11 10:08:29,2015-08-12 09:39:08,2015-08-13 09:47:09,2015-08-14 10:00:21,2015-08-17 09:24:23,2015-08-18 10:25:27,2015-08-19 10:14:41,2015-08-20 09:57:56,2015-08-21 10:07:11,2015-08-24 10:07:49,2015-08-25 09:47:59,2015-08-26 09:53:49,2015-08-27 10:16:21,2015-08-28 09:53:47,2015-08-31 10:08:07,NaN,2015-09-02 10:37:59,2015-09-03 09:41:16,2015-09-04 10:11:00,2015-09-07 10:17:58,2015-09-08 10:31:57,2015-09-09 10:28:33,2015-09-10 09:54:28,2015-09-11 10:02:49,2015-09-14 10:15:40,2015-09-15 10:26:09,2015-09-16 10:11:03,2015-09-18 10:16:06,2015-09-21 09:48:01,2015-09-22 10:34:52,2015-09-23 10:03:15,2015-09-24 10:00:12,2015-09-25 10:00:00,2015-09-28 09:28:45,2015-09-29 09:51:58,2015-09-30 09:52:41,2015-10-01 10:05:28,2015-10-05 10:02:00,2015-10-06 09:48:24,2015-10-07 09:32:05,2015-10-08 09:39:01,2015-10-09 09:33:40,2015-10-12 10:14:36,NaN,2015-10-14 10:19:43,2015-10-15 10:19:51,2015-10-16 09:50:41,2015-10-19 09:55:08,2015-10-20 10:00:37,NaN,NaN,2015-10-23 10:03:33,2015-10-26 09:51:07,2015-10-27 09:25:10,2015-10-28 09:50:30,2015-10-29 09:50:22,2015-10-30 09:51:07,2015-11-02 10:01:58,2015-11-03 10:28:53,2015-11-04 09:47:00,2015-11-05 10:24:57,2015-11-06 10:15:27,2015-11-12 10:02:34,2015-11-13 09:29:49,2015-11-16 10:16:02,2015-11-17 09:57:23,2015-11-18 10:13:24,2015-11-19 09:46:48,2015-11-20 10:09:35,2015-11-23 09:54:17,2015-11-24 10:02:07,2015-11-25 10:01:51,2015-11-26 10:18:45,2015-11-27 10:24:49,2015-11-30 10:04:24,2015-12-01 09:31:27,2015-12-02 09:57:52,2015-12-03 10:05:55,2015-12-04 09:55:09,2015-12-07 09:28:15,2015-12-08 09:54:56,2015-12-09 09:51:52,2015-12-10 09:40:25,2015-12-11 09:46:49,2015-12-14 10:03:33,NaN,2015-12-16 10:21:19,NaN,NaN,2015-12-21 09:55:29,2015-12-22 10:04:06,2015-12-23 10:14:27,2015-12-24 10:11:35,2015-12-28 10:13:41,2015-12-29 10:03:36,2015-12-30 09:54:12,2015-12-31 10:12:44
1,2,2015-01-02 10:15:44,2015-01-05 10:21:05,NaN,2015-01-07 09:45:17,2015-01-08 10:09:04,2015-01-09 09:43:26,2015-01-12 10:00:07,2015-01-13 10:43:29,2015-01-15 09:37:57,2015-01-16 09:57:18,2015-01-19 10:23:43,2015-01-20 09:29:03,2015-01-21 09:46:45,2015-01-22 10:03:51,2015-01-23 09:20:06,2015-01-27 10:07:48,2015-01-28 10:08:25,2015-01-29 09:52:04,2015-01-30 09:49:49,2015-02-02 10:07:26,2015-02-03 09:55:45,2015-02-04 10:25:41,2015-02-05 10:05:11,2015-02-06 09:12:39,NaN,2015-02-10 10:10:13,2015-02-11 09:40:20,2015-02-12 10:10:09,2015-02-13 09:35:25,2015-02-16 10:04:12,2015-02-17 09:45:05,2015-02-18 09:54:42,2015-02-19 10:11:49,2015-02-20 10:06:18,2015-02-23 09:41:58,2015-02-24 09:44:22,2015-02-25 09:58:39,2015-02-26 09:59:07,2015-02-27 10:31:41,2015-03-02 09:55:43,2015-03-03 10:31:20,2015-03-04 09:56:59,2015-03-06 10:01:10,2015-03-09 10:02:33,2015-03-10 09:32:40,2015-03-11 09:57:02,2015-03-12 09:59:32,2015-03-13 09:59:14,2015-03-16 09:56:19,2015-03-17 09:36:08,2015-03-18 10:00:32,2015-03-19 09:46:51,2015-03-20 10:06:06,2015-03-23 10:02:02,NaN,2015-03-25 10:03:04,2015-03-26 09:52:38,2015-03-27 10:02:55,2015-03-30 10:04:24,2015-03-31 10:30:25,2015-04-01 09:46:24,2015-04-02 09:53:55,2015-04-03 10:30:21,2015-04-06 10:18:14,2015-04-07 10:22:22,2015-04-08 09:46:42,2015-04-09 10:02:22,2015-04-10 09:47:56,2015-04-13 09:33:46,2015-04-14 09:50:19,2015-04-15 10:06:41,2015-04-16 10:07:24,2015-04-17 09:40:35,2015-04-20 10:04:05,2015-04-21 10:21:53,2015-04-22 09:40:33,2015-04-23 10:06:54,2015-04-24 10:10:19,2015-04-27 09:33:44,2015-04-28 09:52:51,NaN,2015-04-30 10:14:03,2015-05-04 09:53:54,2015-05-05 10:25:20,2015-05-06 09:46:04,2015-05-07 09:49:37,2015-05-08 09:56:40,2015-05-11 09:58:30,2015-05-12 09:44:55,2015-05-13 10:06:35,NaN,2015-05-15 09:43:03,NaN,2015-05-19 09:48:05,2015-05-20 10:18:00,2015-05-21 09:42:47,2015-05-22 10:37:50,2015-05-25 09:46:03,2015-05-26 09:42:16,2015-05-27 09:53:20,2015-05-28 09:54:58,2015-05-29 09:52:45,2015-06-01 09:54:45,2015-06-02 09:57:56,2015-06-03 10:10:48,2015-06-04 09:31:48,2015-06-05 10:06:28,2015-06-08 09:45:19,2015-06-09 09:59:08,2015-06-10 09:39:05,2015-06-11 09:55:03,NaN,2015-06-15 09:45:02,2015-06-16 10:15:23,2015-06-17 09:52:23,2015-06-18 09:55:27,2015-06-19 10:13:33,2015-06-22 09:48:24,2015-06-23 09:59:12,2015-06-24 10:27:17,2015-06-25 10:12:33,2015-06-26 09:55:00,2015-06-29 10:02:27,2015-06-30 10:13:31,2015-07-01 09:45:31,2015-07-02 10:04:21,2015-07-03 10:00:01,2015-07-06 10:10:37,2015-07-07 10:29:29,2015-07-08 09:38:19,2015-07-09 10:21:59,2015-07-10 10:30:44,NaN,2015-07-14 10:35:52,2015-07-15 09:47:06,2015-07-16 09:59:13,2015-07-20 10:18:08,2015-07-21 10:23:11,2015-07-22 09:32:15,2015-07-23 09:40:12,2015-07-24 10:15:22,NaN,2015-07-28 10:16:14,2015-07-29 09:58:33,2015-07-30 09:57:10,2015-07-31 10:15:38,2015-08-03 09:58:28,2015-08-04 10:17:10,2015-08-05 09:38:46,2015-08-06 10:16:03,2015-08-07 09:52:22,2015-08-10 09:37:38,2015-08-11 09:54:35,2015-08-12 09:27:52,2015-08-13 09:50:57,2015-08-14 09:38:27,2015-08-17 09:52:16,2015-08-18 09:34:06,2015-08-19 09:43:02,2015-08-20 10:16:38,2015-08-21 10:07:18,2015-08-24 09:36:46,2015-08-25 09:42:22,2015-08-26 10:15:22,2015-08-27 10:11:04,2015-08-28 09:50:51,2015-08-31 10:23:10,2015-09-01 10:23:47,2015-09-02 09:57:01,2015-09-03 09:56:07,2015-09-04 10:33:03,2015-09-07 09:58:33,NaN,2015-09-09 10:17:43,2015-09-10 10:28:40,2015-09-11 09:58:20,2015-09-14 09:43:25,2015-09-15 09:25:53,2015-09-16 09:26:29,2015-09-18 10:27:07,2015-09-21 10:03:31,2015-09-22 09:35:23,2015-09-23 10:12:56,2015-09-24 10:02:52,2015-09-25 09:37:12,2015-09-28 10:11:06,2015-09-29 10:00:31,2015-09-30 10:22:56,2015-10-01 10:08:29,2015-10-05 10:02:26,2015-10-06 10:08:57,2015-10-07 10:10:19,2015-10-08 10:04:03,2015-10-09 09:40:41,2015-10-12 10:11:30,2015-10-13 10:14:39,2015-10-14 10:10:48,NaN,2015-10-16 10:20:19,2015-10-19 10:04:13,2015-10-20 09:39:10,2015-10-21 09:47:15,2015-10-22 09:56:54,2015-10-23 09:53:38,2015-10-26 09:49:43,2015-10-27 10:29:20,2015-10-28 09:47:39,2015-10-29 09:52:02,2015-10-30 09:47:37,2015-11-02 10:04:45,2015-11-03 09:36:03,2015-11-04 09:58:34,2015-11-05 09:50:08,2015-11-06 10:02:38,2015-11-12 09:54:47,2015-11-13 09:26:10,2015-11-16 10:22:00,2015-11-17 09:26:04,2015-11-18 10:10:39,NaN,2015-11-20 10:01:09,2015-11-23 09:51:11,2015-11-24 09:19:04,2015-11-25 09:43:44,2015-11-26 10:34:30,2015-11-27 10:15:10,2015-11-30 09:46:46,2015-12-01 09:56:22,2015-12-02 09:55:43,2015-12-03 10:05:37,2015-12-04 10:02:05,2015-12-07 09:36:05,2015-12-08 10:01:21,2015-12-09 09:49:23,2015-12-10 10:06:05,2015-12-11 10:15:18,2015-12-14 10:00:01,2015-12-15 10:30:18,2015-12-16 10:01:18,2015-12-17 09:15:08,2015-12-18 10:37:17,2015-12-21 09:49:02,2015-12-22 10:33:51,2015-12-23 10:12:10,NaN,2015-12-28 09:31:45,2015-12-29 09:55:49,2015-12-30 10:32:25,2015-12-31 09:27:20
2,3,2015-01-02 10:17:41,2015-01-05 09:50:50,2015-01-06 10:14:13,2015-01-07 09:47:27,2015-01-08 10:03:40,2015-01-09 10:05:49,2015-01-12 10:03:47,2015-01-13 10:21:26,2015-01-15 09:55:11,2015-01-16 10:05:36,2015-01-19 09:47:53,2015-01-20 09:57:09,2015-01-21 10:29:40,2015-01-22 09:59:11,2015-01-23 10:16:34,2015-01-27 10:07:30,2015-01-28 10:05:43,2015-01-29 10:06:48,2015-01-30 10:14:36,2015-02-02 09:54:45,2015-02-03 09:27:11,2015-02-04 10:04:03,2015-02-05 10:08:11,2015-02-06 10:23:51,2015-02-09 10:08:43,2015-02-10 10:26:18,2015-02-11 10:02:13,2015-02-12 09:55:10,2015-02-13 10:32:34,2015-02-16 10:18:43,2015-02-17 10:04:54,2015-02-18 10:16:19,2015-02-19 09:47:19,2015-02-20 10:20:51,2015-02-23 10:14:02,2015-02-24 10:23:28,2015-02-25 09:59:06,2015-02-26 10:01:22,2015-02-27 09:57:26,2015-03-02 10:02:38,2015-03-03 10:07:45,2015-03-04 10:15:26,2015-03-06 09:48:49,2015-03-09 10:17:45,2015-03-10 09:46:10,2015-03-11 10:26:39,2015-03-12 09:56:28,2015-03-13 09:36:23,2015-03-16 10:07:30,2015-03-17 10:00:43,2015-03-18 10:20:10,2015-03-19 09:54:40,NaN,2015-03-23 10:04:28,2015-03-24 10:18:38,2015-03-25 09:43:22,2015-03-26 09:37:02,NaN,2015-03-30 09:54:55,2015-03-31 10:00:57,2015-04-01 09:52:42,2015-04-02 10:24:02,2015-04-03 10:01:42,2015-04-06 09:33:15,2015-04-07 10:13:13,2015-04-08 10:38:41,2015-04-09 10:17:34,2015-04-10 10:28:08,2015-04-13 10:14:55,2015-04-14 09:29:50,2015-04-15 10:06:52,2015-04-16 09:46:13,2015-04-17 10:16:08,2015-04-20 09:36:16,2015-04-21 10:07:10,2015-04-22 09:56:42,NaN,2015-04-24 10:10:15,2015-04-27 09:29:29,2015-04-28 10:01:45,2015-04-29 09:54:28,2015-04-30 09:40:30,2015-05-04 09:55:15,2015-05-05 09:53:50,2015-05-06 10:20:45,2015-05-07 09:49:38,2015-05-08 10:21:01,2015-05-11 09:47:03,2015-05-12 09:39:48,2015-05-13 09:50:23,2015-05-14 09:45:22,2015-05-15 09:48:59,2015-05-18 10:03:24,2015-05-19 09:40:26,2015-05-20 09:40:20,2015-05-21 09:37:39,2015-05-22 10:04:08,2015-05-25 10:06:54,2015-05-26 10:28:05,2015-05-27 10:14:07,2015-05-28 10:13:25,2015-05-29 10:08:23,2015-06-01 09:57:32,2015-06-02 09:58:49,2015-06-03 10:03:00,2015-06-04 09:32:13,2015-06-05 09:43:51,2015-06-08 09:31:20,2015-06-09 09:49:58,2015-06-10 10:14:49,2015-06-11 10:07:21,2015-06-12 10:10:53,2015-06-15 09:52:17,2015-06-16 09:33:01,2015-06-17 09:50:53,2015-06-18 10:01:04,2015-06-19 09:47:22,2015-06-22 09:52:10,2015-06-23 09:44:50,NaN,2015-06-25 10:10:41,2015-06-26 10:02:07,2015-06-29 09:33:13,2015-06-30 10:13:47,2015-07-01 10:07:56,2015-07-02 10:26:28,2015-07-03 09:40:28,2015-07-06 10:02:42,2015-07-07 10:50:49,2015-07-08 09:56:24,2015-07-09 10:08:14,2015-07-10 09:58:44,2015-07-13 09:59:18,2015-07-14 09:54:55,2015-07-15 09:42:13,2015-07-16 10:00:16,2015-07-20 10:12:37,2015-07-21 09:39:36,2015-07-22 09:50:19,2015-07-23 10:27:02,2015-07-24 09:58:29,2015-07-27 10:11:51,2015-07-28 09:44:58,2015-07-29 10:29:58,2015-07-30 10:27:08,2015-07-31 09:32:14,2015-08-03 09:49:21,2015-08-04 09:37:19,NaN,2015-08-06 10:00:11,2015-08-07 09:36:58,2015-08-10 09:51:11,2015-08-11 09:49:26,2015-08-12 10:26:18,2015-08-13 10:12:57,2015-08-14 09:51:22,2015-08-17 09:59:35,2015-08-18 09:57:40,2015-08-19 10:06:09,2015-08-20 10:09:06,2015-08-21 10:28:51,2015-08-24 10:04:52,2015-08-25 10:09:53,2015-08-26 10:26:55,2015-08-27 09:08:23,2015-08-28 10:07:20,2015-08-31 09:44:35,2015-09-01 09:51:52,2015-09-02 09:52:28,2015-09-03 10:05:51,2015-09-04 10:11:53,2015-09-07 09:28:00,2015-09-08 09:38:21,2015-09-09 09:45:09,2015-09-10 09:49:52,2015-09-11 09:57:16,2015-09-14 10:27:59,2015-09-15 10:11:20,2015-09-16 09:55:26,2015-09-18 09:54:29,2015-09-21 09:29:30,2015-09-22 09:35:39,2015-09-23 09:56:54,2015-09-24 10:31:35,2015-09-25 09:40:55,2015-09-28 09:55:28,2015-09-29 10:25:49,2015-09-30 10:11:02,2015-10-01 09:58:27,2015-10-05 10:10:21,2015-10-06 09:56:07,2015-10-07 10:09:43,2015-10-08 09:46:36,2015-10-09 10:00:44,2015-10-12 10:14:10,2015-10-13 10:22:14,2015-10-14 10:20:42,2015-10-15 10:12:05,2015-10-16 09:41:55,2015-10-19 10:03:40,2015-10-20 10:02:12,2015-10-21 10:52:27,2015-10-22 10:10:44,2015-10-23 10:08:37,2015-10-26 10:29:26,2015-10-27 09:48:57,2015-10-28 09:54:52,2015-10-29 09:47:27,2015-10-30 09:51:47,2015-11-02 09:54:18,2015-11-03 09:52:40,2015-11-04 10:19:14,2015-11-05 10:23:27,2015-11-06 10:06:29,2015-11-12 10:14:47,2015-11-13 09:43:37,2015-11-16 10:02:56,2015-11-17 09:51:38,2015-11-18 10:12:13,2015-11-19 10:08:46,2015-11-20 10:06:39,2015-11-23 10:02:01,2015-11-24 09:53:52,2015-11-25 10:16:19,2015-11-26 10:07:02,NaN,2015-11-30 10:01:33,2015-12-01 10:02:52,2015-12-02 10:10:34,2015-12-03 10:18:25,2015-12-04 10:06:40,2015-12-07 10:21:09,2015-12-08 09:59:19,2015-12-09 10:17:28,NaN,2015-12-11 09:49:55,2015-12-14 09:42:31,2015-12-15 09:54:48,2015-12-16 09:48:34,2015-12-17 09:53:17,2015-12-18 10:15:14,2015-12-21 10:10:28,2015-12-22 09:44:44,2015-12-23 10:15:54,2015-12-24 10:07:26,2015-12-28 09:42:05,2015-12-29 09:43:36,2015-12-30 09:34:05,2015-12-31 10:28:39

Maintenant on va remplacer les valeurs non définies par 0 et convertir l'ensemble au format datetime

In [ ]:
in_time = in_time.replace(np.nan, 0)
in_time.iloc[:, 1:] = in_time.iloc[:, 1:].apply(pd.to_datetime, errors='coerce')

in_time.head()

On fait les mêmes manipulations avec le dataframe des horraires de départ

In [ ]:
out_time = out_time.drop(columns = holidays)

out_time = out_time.replace(np.nan,0)
out_time.iloc[:, 1:] = out_time.iloc[:, 1:].apply(pd.to_datetime, errors='coerce')

out_time.head()

Pour notre phase d'apprentissage, il est important pour nous de mettre en place des moyennes.

On va commencer par faire une moyenne du temps de travail pour chaque employé.

Pour mieux y voir, on va mélanger nos deux dataframes précedent :

In [ ]:
in_out_time = in_time.append(out_time)

in_out_time.shape

In [ ]:
employees_number = (int) (in_out_time.shape[0] / 2)

# On fait la différence entre l'heure de départ et l'heure d'arrivée
in_out_time = in_out_time.diff(periods=employees_number)
# La seconde moitié du tableau (anciennement out_time) est désormais aux valeurs de durée

# On supprime la première moitié du tableau (in_time) puis on reset les index
in_out_time = in_out_time.iloc[employees_number:]
in_out_time.reset_index(inplace=True)

in_out_time.head()

Nos deux premières colonnes sont inutiles, on va les supprimer

In [ ]:
in_out_time.drop(columns=['index', 'Unnamed: 0'], axis=1, inplace=True)
in_out_time.head()

On crée une colonne contenant la moyenne de ces temps de travail pour chaque employé

In [ ]:
in_out_time['AverageWorkTimeDelta'] = in_out_time.mean(axis=1)

in_out_time.head()

On peut transformer la moyenne d'heure en heures pour plus de clarté

In [ ]:
in_out_time['AverageWorkTime'] = in_out_time['AverageWorkTimeDelta'] / np.timedelta64(1, 'h')
in_out_time.head()

On va maintenant faire une moyenne des heures d'arrivée et de départ de chaque employé.

In [ ]:
def mean_angle(deg):
    return degrees(phase(sum(rect(1, radians(d)) for d in deg)/len(deg)))
 
def mean_time(row):
    t = ([time.hour, time.minute, time.second] for time in row)
    seconds = ((float(s) + int(m) * 60 + int(h) * 3600) 
               for h, m, s in t)
    day = 24 * 60 * 60
    to_angles = [s * 360. / day for s in seconds]
    mean_as_angle = mean_angle(to_angles)
    mean_seconds = mean_as_angle * day / 360.
    if mean_seconds < 0:
        mean_seconds += day
    h, m = divmod(mean_seconds, 3600)
    m, s = divmod(m, 60)
    return '%02i:%02i:%02i' % (h, m, s)

in_out_time['AverageInTime'] = in_time.drop(['Unnamed: 0'], 1).apply(mean_time, axis=1)
in_out_time['AverageOutTime'] = out_time.drop(['Unnamed: 0'], 1).apply(mean_time, axis=1)

On va désormais drop les colonnes de chaque jour qui ne nous sont plus utiles

In [ ]:
# EmployeeID commence à 1 au lieu de 0
in_out_time.index += 1

in_out_time.reset_index(inplace=True)
in_out_time.rename(columns={'index': 'EmployeeID'}, inplace=True)
in_out_time.drop(in_out_time.columns.difference(['EmployeeID', 'AverageWorkTime', 'NumberOfAbsences', 'AverageInTime', 'AverageOutTime']), 1, inplace=True)

in_out_time.head()

# Fusion en un seul DataFrame
On s'occupe maintenant de fusionner toutes les données en un seul DataFrame, en faisant correspondre les EmployeeID.
Ce DataFrame constituera notre le jeu de donnée de base du projet à partir d'ici.

In [ ]:
df = pd.merge(employee_survey_data, manager_survey_data, how='inner', on='EmployeeID')
df = pd.merge(df, general_data, how='inner', on='EmployeeID')
df = pd.merge(df, in_out_time, how='inner', on='EmployeeID')

df.head()

# ---- Essais statistiques ---

In [ ]:
df.describe()

In [ ]:
df.info()

## Mise en évidence de la variable clé Attrition

In [ ]:
print(round(df['Attrition'].value_counts(normalize = True),2))
sns.countplot(x='Attrition',data=df)

In [ ]:
sns.pairplot(df[['Age','MonthlyIncome','DistanceFromHome','Attrition']],hue = 'Attrition')

In [ ]:
print('Fréquence de voyages (en %): \n')
print(round(df['BusinessTravel'].value_counts(normalize = True)*100,2))
print("\n Taux d'attrition par type de voyages \n")
print(round(df['BusinessTravel'][df['Attrition'] == 'Yes'].value_counts()/df['BusinessTravel'].value_counts()*100,2))

In [ ]:
print("Nombres d'émployés par département (en %): \n")
print(round(df['Department'].value_counts(normalize = True)*100,2))  
print("\n Taux d'attrition par département \n")
print(round(df['Department'][df['Attrition'] == 'Yes'].value_counts()/df['Department'].value_counts()*100,2))

In [ ]:
print("Nombre d'émployées par niveau d'éducation (en %): \n")
print(round(df['Education'].value_counts(normalize = True)*100,2).sort_index())
print("\n Taux d'attrition par niveau d'éducation : \n")
print(round(df['Education'][df['Attrition'] == 'Yes'].value_counts()/df['Education'].value_counts()*100,2).sort_index())

On peut chercher d'autre types de corrélation comme celle entre l'attarition et le statut marital.

In [ ]:
print("\n Taux d'attrition par statut marital: \n")
print(round(df['MaritalStatus'][df['Attrition'] == 'Yes'].value_counts()/df['MaritalStatus'].value_counts()*100,2))
(df['MaritalStatus'][df['Attrition'] == 'Yes'].value_counts()/df['MaritalStatus'].value_counts()*100).plot.bar(color = 'blue')

On peut également chercher le nombre d'heures moyen et le taux d'attrition

In [ ]:
sns.pairplot(df[['AverageWorkTime', 'JobSatisfaction', 'Attrition']],hue = 'Attrition', height = 4)

## Traitement des données

Certaines de nos colonnes ne sont pas entièrement remplies : on va les remplir avec les valeurs médianes adéquates.

In [ ]:
print(df.isnull().sum())

### EnvironmentSatisfaction

In [ ]:
sns.countplot(x='EnvironmentSatisfaction', data=df)

In [ ]:
df['EnvironmentSatisfaction'].value_counts(ascending=False)

In [ ]:
df["EnvironmentSatisfaction"].fillna(df["EnvironmentSatisfaction"].median(), inplace=True)

### JobSatisfaction

In [ ]:
sns.countplot(x='JobSatisfaction', data=df)

In [ ]:
df['JobSatisfaction'].value_counts(ascending=False)

In [ ]:
df["JobSatisfaction"].fillna(df["JobSatisfaction"].median(), inplace=True)
df['JobSatisfaction'].isnull().sum()

## WorkLifeBalance

In [ ]:
df['WorkLifeBalance'].value_counts(ascending=False)

In [ ]:
sns.countplot(x='WorkLifeBalance',data=df);

In [ ]:
df["WorkLifeBalance"].fillna(df["WorkLifeBalance"].median(), inplace=True)
df['WorkLifeBalance'].isnull().sum()

## NumCompaniesWorked

In [ ]:
df['NumCompaniesWorked'].value_counts(ascending=False)

In [ ]:
sns.countplot(x='NumCompaniesWorked',data=df);

In [ ]:
sns.boxplot(x='NumCompaniesWorked',data=df);

In [ ]:
df['NumCompaniesWorked'].fillna(df.groupby(['TotalWorkingYears'])['NumCompaniesWorked'].transform('median'), inplace=True)
df['NumCompaniesWorked'].isnull().sum()

## TotalWorkingYears

In [ ]:
df['TotalWorkingYears'].value_counts(ascending=False)

In [ ]:
plt.figure(figsize=(8,8))
ax = sns.distplot(df['TotalWorkingYears'], hist=True, kde=False, 
             bins=int(180/5), color = 'darkblue', 
             hist_kws={'edgecolor':'black'},
             kde_kws={'linewidth': 4})
ax.set_ylabel('# of Employees')
ax.set_xlabel('TotalWorkingYears');

#Expliquer le schéma. kde = gaussian kernel density estimate => courbe.

In [ ]:
sns.boxplot(x='TotalWorkingYears',data=df);

In [ ]:
df['TotalWorkingYears'].fillna(df.groupby(['Age'])['TotalWorkingYears'].transform('median'), inplace=True)
df['TotalWorkingYears'].isnull().sum()

In [ ]:
df['TotalWorkingYears'].head()

In [ ]:
df.info()

On à désormais une harmonisation de donéés grâce à notre traitement de valeurs nulles ou non renseignées.